* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #4aaaa5;
}
a:hover {
  /* color: #ffffff; */
  font-weight: bold;
}
header {
  background: #ffffff;
  width: 100%;
  height: 100px;
  border-bottom: #cccccc solid 2px;
}
hr {
  border-top: #cccccc 2px solid;
  margin-bottom: 36px;
}
.topsec {
  width: 960px;
  position: relative;
  /* vertical-align: middle; */
  margin: 0 auto 0 auto;
}
.logoname {
  background: #4aaaa5;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  color: #ffffff;
  height: 98px;
  position: relative;
  float: left;
  padding: 32px;
}
nav {
  /* background: #666666; */
  /* padding-top: 49px; */
  float: right;
  height: 98px;
  width: 300px;
  display: inline-block;
  vertical-align: bottom;
  text-align: right;
}
/* .aboutme {
  margin: 18px;
} */
.btn {
  height: 98px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 80px;
  display: inline-block;
  text-align: center;
  vertical-align: center;
  padding-top: 70px;
  /* background:lightblue; */
  /* position: relative;
  float: right; */
}
.btn:hover {
  color: #ffffff;
  text-emphasis: bold;
  background: #ecf6f6;
}
body {
  font-size: 16px;
  line-height: 1.5;
  background-image: url("../images/noisy.png");
}
.wrapper {
  width: 960px;
  /* resize: both; */

  margin: 36px auto;
  margin-bottom: 111px;
  background: #ffffff;
  border: #dddddd;
  border-style: solid;
  border-width: 2px;
  padding: 36px;
}
footer {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 36px;
  text-align: center;
  vertical-align: text-bottom;
  font-size: 9px;
  height: 75px;
  width: 100%;
  background: #666666;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  padding-top: 30px;
  border-top: 8px solid #4aaaa5;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 2.5;
  color: #666666;
  padding-bottom: 16px;
}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  color: #4aaaa5;
  padding-bottom: 16px;
}
img {
  float: left;
  /* padding-right: 36px; */
  margin-right: 36px;
  margin-bottom: 18px;
  object-fit: fill;

  max-height: 100%;
  /* max-height: 100%; */
  /* height: auto; */
}
form {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1;
  color: #666666;
}
input[type="text"] {
  width: 100%;
  padding: 8px;
  margin: 16px 0;
  color: #999999;
  font-size: 18px;
}
input[type="textarea"] {
  width: 100%;
  height: 80px;
  padding: 12px;
  margin: 8px 0;
  vertical-align: top;
}
input[type="submit"] {
  background: #4aaaa5;
  font-size: 12px;
  border: none;
  color: white;
  padding: 16px 32px;
  margin-top: 8px;
}
.pimage {
  width: 300px;
  height: 200px;
  background: #cccccc;
  margin-right: 36px;
  margin-bottom: 18px;
  position: relative;
  float: left;
  overflow: hidden;
}
.ptitle {
  position: absolute;
  bottom: 9px;
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  padding: 9px;
  background: #4aaaa5;
}
.pcontainer {
  /* this one took a long time to track down! */
  display: inline-block;
}

/* media quieries */
@media (max-width: 980px) {
  .wrapper {
    width: 600px;
    float: left;
    margin-left: 36px;
    /* resize: both; */
  }
  header {
    margin: 0;
    width: 100%;
    padding-left: 36px;
  }
  .topsec {
    width: 100%;
    margin: 0 36px 0 0;
  }
 
  .pimage {
    width: 180px;
    height: 120px;
    background: #cccccc;
    margin-right: 18px;
    margin-bottom: 9px;
    position: relative;
    float: left;
    overflow: hidden;
  
  }

}

@media (max-width: 768px) {
  
  .wrapper {
    width: 600px;
    float: left;
    margin-left: 36px;
    margin-right: 36px;
    /* resize: both; */
  }
  header {
    margin: 0;
    width: 100%;
    padding-left: 36px;
  }
  .topsec {
    width: 600px;
    margin: 0;
  }
   .pimage {
    width: 180px;
    height: 120px;
    background: #cccccc;
    margin-right: 18px;
    margin-bottom: 9px;
    position: relative;
    float: left;
    overflow: hidden;
  
  }
 

@media (max-width: 640px) {
  .wrapper {
    width: 100%;
    margin: 0 0 0 0;
    
    border: 0px;
    /* float: left; */
    /* margin-left: 36px;
    margin-right: 36px; */
    /* resize: both; */
  }
  header {
    margin: 0;
    width: 100%;
    padding: 0px;
  }
  .topsec {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .logoname {
    background: #4aaaa5;
        height: 98px;
    position: relative;
    /* float: left; */
    width: 100%;
    margin: 0;
    /* padding: 32px; */
    text-align: center;
  }
   .pimage {
    width: 100%;
    /* height: 100%; */
    background: #cccccc;
    margin-right: 18px;
    margin-bottom: 9px;
    position: relative;
    /* float: left; */
    overflow: hidden;
  
  }
  nav {
    background: white;
    /* padding-top: 49px; */
    /* float: right; */
    height: 60px;
    width: 100%;
    /* display: inline-block; */
    vertical-align: bottom;
    text-align: center;
  }
  .btn {
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 80px;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    padding-top: 20px;
    /* background:lightblue; */
    /* position: relative;
    float: right; */
  }
  img {
    /* float: left; */
    /* padding-right: 36px; */
    /* margin-right: 36px;
    margin-bottom: 18px; */
    object-fit: cover;
    width: 100%;
    /* max-height: 100%; */
    /* max-height: 100%; */
    /* height: auto; */
  }
}

